#page-header {
    height: 3.5em;
    border-bottom: 1px solid lightgray;
    background: #F3F2F2;
    width: 100%;
}

#fb-search-text {
    color: #337ab5;
}

#search-fb-button {
    width: 5em;
    background: #337ab5;
    color: white;
}
#tabs .nav-justified li a {
    border-radius: 0;
}
.favorite-button {
    width: 2.8em;
    height: 2.3em;
    background: white;
}
.round-image {
    width: 3em;
    height: 3em;
    border-radius: 25px;
}
.row.main-content.ng-hide-remove {
    -webkit-animation:1.0s showm;
    animation:1.0s showm;
}
@keyframes showm {
  0% {
    opacity:0;
    transform: translate3d(100%,0px,0px);
  }
  100% { 
    opacity:1;
    transform: 
      translate3d(0%,0px,0px);
  }
}

@-webkit-keyframes showm {
  0% {
    opacity:0;
    transform: translate3d(100%,0px,0px);
  }
  100% { 
    opacity:1;
    transform: 
      translate3d(0%,0px,0px);
  }
}

.row.detail-content.ng-hide-remove {
    -webkit-animation:1.0s show;
    animation:1.0s show;
}

@keyframes show {
  0% {
    opacity:0;
    transform: translate3d(-100%,0px,0px);
  }
  100% { 
    opacity:1;
    transform: 
      translate3d(0%,0px,0px);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: translate3d(-100%,0px,0px);
  }
  100% { 
    opacity:1;
    transform: 
      translate3d(0%,0px,0px);
  }
}